[submodule "packages/vuexen"]
	path = packages/vuexen
	url = https://github.com/DraconicDevelopment/vuexen
[submodule "packages/vue-layout-components"]
	path = packages/vue-layout-components
	url = https://github.com/DraconicDevelopment/vue-layout-components
